body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding-left: 48px;
  padding-right: 48px;
  line-height: 1.6;
  height: 3123px;
  weight: 1440px;
  background-color: #FFFFFF;
}
  
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 16px;
  padding-bottom: 16px;
  background: #fff;
  border-bottom: 1px solid;
}
  
header .logo {
  font-size: 24px;
  font-weight: 400;
  font-family:"DotGothic16", sans-serif ;
}

header nav a {
  margin: 0 15px;
  text-decoration: none;
  color: #000;
  font-family:"DotGothic16", sans-serif ;
  font-weight: 400;
}

.container{
  padding-top: 48px;
  padding-bottom: 48p;
}
.hero {
  text-align: center;
  background: #fff;
  padding-top: 96px;
  padding-bottom: 96px;
  border-bottom: 1px;
  gap: 48px;


}

.hero h1 {
  font-size: 120px;
  font-weight:400;
  line-height: 120px;
  text-align: center;
  font-family: "DotGothic16", sans-serif;
  
  padding-top: ;
}

.background-img{
  border-radius: 56px;
  border: 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;

}

.projects {
  display: grid;
  /* grid-template-columns: repeat(3, 1fr); */
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 48px;
  padding-bottom: 48px;
  padding-top: 48px;
  width: 1344px;
  margin-left: 30px;
  font-family: "Archivo", sans-serif;
  margin-top: 0;
  margin-bottom: 0;
}


.projects .project .subheading {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  margin-top: 0;
  margin-bottom:0;
  
  
}

.projects .project .miniheading {
  font-weight: 400;
  font-size: 17px;
  line-height: 24px;
  
  
  
}
.project img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.contact {
  padding-top: 48px;
  padding-bottom: 48px;
  border-bottom: 1px;
  background: #fff;
  gap:48px;
  display: flex;
  justify-content: space-between;

}
.contact h2{
  font-weight: 400;
  font-size: 28px;
  line-height: 32px;
  font-family:"DotGothic16", sans-serif ;
}
.contact p {
  font-weight: 400;
  font-size: 17px;
  line-height: 28px;
  font-family: "Archivo", sans-serif;
  margin-right: 180px;
}

.social{
  padding-top: 96px;
  padding-bottom: 96px;
  border-bottom: 1px;
  gap: 48px;

}

form{
  text-align: center;
}

form h2{
  margin-top: 20px;
  text-align: center;
  font-weight: 400;
  font-size: 34px;
  line-height: 40px;
  font-family: "DotGothic16", sans-serif;
}

input {
  text-align:;
  padding: 12px 24px 12px 24px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  gap: 8px;
  width: 464px;
}

button {
  padding: 12px 24px 12px 24px;
  border: none;
  background: #007bff;
  color: #fff;
  border-radius: 8px;
  font-family: "Archivo", sans-serif;
  
}
.social-media{  
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  
  
}
  
.social-media a{
  padding-left: 30px;
  padding-right: 30px;
}
footer {
  text-align: center;
  background: #fff;
  color: #000;
  border-top: 1px;
  padding-top: 96px;
  padding-bottom: 24px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;  
}
footer p{
  font-weight: 400;
  font-size: 28px;
  line-height: 32px;
  font-family:"DotGothic16", sans-serif;
}
footer form{
  border-radius: 8px;
  border: 1px;
  padding: 12px 24px 12px 24px;
}
